*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: beige;
}
h1{
    text-align: left;
    font-size: 100px;
    color: rgb(0, 0, 0);
}
p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 2%;
   right: 0;

}
body{
    background-color: rgb(240, 240, 213);
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    }
    .botao{
        background-color: rgba(158, 144, 99, 0.904);
        color: rgb(0, 0, 0);
        border: none;
        text-align: center;
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
    }
    ul{
        font-size: 16px;
        color: rgb(0, 0, 0);
    }
    .cabecalho{
        border-style: groove;
        border-color: rgb(0, 0, 0);
        display: flex;
    }
    .container {
        width: 80%;
    }
    
    .left {
        float: left;
        margin-right: 1px; /* Espaço entre as imagens */
        margin-top: 20%;
    }
    
    .right {
        float: right;
        margin-top: 20%;
    }
  